<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <meta property="og:title" content="KGJ - Portfolio">
    <meta property="og:url" content="https://gonnajoong.github.io/blog-react">
    <meta property="og:image" content="https://gonnajoong.github.io/blog-react">
    <meta property="og:description" content="안녕하세요 프론트엔드 개발자 김관중의 블로그입니다.">

    <link rel="icon" href="/images/favicon-16.png" size="16x16">
    <link rel="icon" href="/images/favicon-32.png" size="32x32">
    <link rel="icon" href="/images/favicon-64.png" size="64x64">
    <title>업체 관리자 페이지</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/blog.css?v=1619016425027">
    <!-- endinject -->
</head>
<body>
<div id="root"></div>
<!-- inject:js -->
<script type="text/javascript" src="/dist/blog.js?v=1619016425027"></script>
<!-- endinject -->
</body>
</html>
